<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties" />

    <typeAliases>
        <package name="testMapper"/>

        <package name="dao.mappers"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cookbook_db?useSSL=false"/>
                <property name="username" value="cookbook_user"/>
                <property name="password" value="Project@Pass123!"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="dao.mappers"/>
    </mappers>
</configuration>
